* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3em;
    margin: 0;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.1em;
    text-align: center;
    margin: 0;
    padding: 0;
}

input {
    width: 100%;
}

button {
    margin-left: 1em;
    float: left;
}

.canvas-layout {
    border: 2px solid black;
}

.history {
    font-size: 1em;
    border: 2px solid black;
    height: 300px;
    width: 400px;
    overflow: auto;
    padding: 2px;
}
